<!doctype html>
<html>
<head>
    <title>Social Media App</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Social Media App</h1>
        <img src="https://cdn.pixabay.com/photo/2014/03/22/22/17/phone-292994_960_720.jpg 1x, https://cdn.pixabay.com/photo/2014/03/22/22/17/phone-292994_1280.jpg 2x" alt="App icons">

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

</div>
</body>
</html>
